
section{

    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
    width: 80%;
}
h1{
    text-align: center;
}

img:hover{
    transform: scale(1.2);
}
.grid {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;

}
.instructions{
    flex: 50%;
 text-align: justify;
 background-color: antiquewhite;
}
.instructions li ,h1{
font-family: monospace;
margin: 2em ;
}
.instructions li{
margin: 2em ;
}
img{
    width: 200px;
    height: 200px;
}